<div class="media" data-id="<%= data.id %>">
	<div class="media-left"><img src="<%= data.profile_pic %>" alt="..."></div>
	<div class="media-body">
		<h5><%= data.fullname %></h5>
		<p><%= data.comment %></p>
	</div>
</div>
